#header {
	display: flex;
	background: #dddddd;
	height: 100px;
	justify-content: center;
	align-items: center;
}

.child {
	border: 1px solid;
	background: #ffffff;
	height: 80px;
	width: 150px;
}

#header .child:last-child {
	border-left: none;
}